[submodule "vault"]
	path = vault
	url = https://github.com/rishav-singh-0/Rishav_Notes.git
[submodule "hugo_root/themes/PaperMod"]
	path = hugo_root/themes/PaperMod
	url = https://github.com/adityatelange/hugo-PaperMod.git
